{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div class="col-sm-12">

        {% if meal_name %}
        <h1>{{ meal_name }}</h1>
        {% else %}
        <p>ni ma posilka panie</p>
        {% endif %}
        <form action="/meal/{{meal_id}}/" method="post">
            {% csrf_token %}
            {% if product_list %}
            {% for product in product_list %}
            <div class="form-row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="products" {% if product in selected %}checked{% endif %}
                               value="{{product.id}}"
                               id="product{{product.id}}">
                        <label class="form-check-label" for="product{{product.id}}">{{product.name}} - {{product.calories}} cal/100g</label>
                    </div>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="input_calories_{{product.id}}" placeholder="Enter amount in grams. {{product.calories}} cal/100g">
                </div>
            </div>
            {% endfor %}
            <input class="btn btn-dark" type="submit" value="save">
        </form>
        {% else %}
        <p>ni ma produktow panie</p>
        {% endif %}
    </div>
</div>
{% endblock %}
