{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div class="col-sm-8">
        {% if meal_name %}
        <h1>{{ meal_name }}</h1>
        {% else %}
        <p>ni ma posilka</p>
        {% endif %}
        <form action="/meal/{{meal_id}}/" method="post">
            {% csrf_token %}

            {% if product_list %}
            {% for product in product_list %}
            <input type="checkbox" name="products" value="{{product.id}}">{{product}}<br>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>

        {% else %}
        <p>ni ma produktow panie</p>
        {% endif %}
    </div>
</div>
{% endblock %}
