{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div class="col-sm-8">
        <h1>Available products</h1>
        {% if product_list %}
        <ul class="list-group">
            {% for product in product_list %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{product.name}}
                <span class="badge badge-dark badge-pill">{{product.calories}} cal / 100g</span>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>ni ma produktow panie</p>
        {% endif %}
    </div>
</div>
{% endblock %}
